.l-content{
  height: auto;
  margin-top: -4px;
  margin-left: -54px;
  padding: 100px;
  background-color: grey;

  &-article {
	left: 0;
	padding: 20px;
    background-color: #8d8d9a;
    border: 5px solid white;
	width: 100%;
    height: auto;
	margin: auto;
  }

  &-container {
	  height: auto;
	  width: 100%;
  }

  & li {
	  width: 30.3333%;
	  display: inline-block;
	  vertical-align: top;
	  margin: 5px;
  }

  & ul{
	  list-style-type: none;
  }

  &-title {
   text-align: center;
  }

  & img {
	  width: 100%;
	  height: auto;
  }

}
