.l-content{
  height: 400px;
  background-color: grey;
  margin-top: -4px;
  position: relative;

  &__article {
    width: 70%;
    height: 190px;
    background-color: #8d8d9a;
    border: 5px solid white;
    left: 13%;
    position: absolute;
    top: 7%;
  }

  &__title {
   text-align: center;
  }
}
