/* ===========================
   Base
   =========================== */
body {
  margin: -29px 0 0 0; }

/* ==|====================
   Layout/Constrained
   ======================= */
.l-constrained {
  max-width: pxtoem(1140, 16);
  padding: 0 pxtoem(20, 16);
  margin: 0 auto; }

.l-content {
  height: auto;
  margin-top: -4px;
  margin-left: -54px;
  padding: 100px;
  background-color: grey; }
  .l-content-article {
    left: 0;
    padding: 20px;
    background-color: #8d8d9a;
    border: 5px solid white;
    width: 100%;
    height: auto;
    margin: auto; }
  .l-content-container {
    height: auto;
    width: 100%; }
  .l-content li {
    width: 30.3333%;
    display: inline-block;
    vertical-align: top;
    margin: 5px; }
  .l-content ul {
    list-style-type: none; }
  .l-content-title {
    text-align: center; }
  .l-content img {
    width: 100%;
    height: auto; }

.l-header {
  position: relative; }
  .l-header img {
    width: 100%;
    height: auto; }
  .l-header-title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
    left: 0;
    top: 18%;
    font-family: Arial, Helvetica, sans-serif; }
